body {
    margin: 0;
    
    &::-webkit-scrollbar {
        width: 10px;

        &-track {
            background-color: $white;
        }

        &-thumb {
            background-color: $black;
            border-radius: 100px;
        }
    }
}