.header-link {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;

    @include up($md) {
        font-size: 18px;
    }
}

.consult-btn {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;

    @include up($md) {
        font-size: 18px;
    }
}