@import 'mixins';

$white: #FFFFFF;
$black: #000000;
$red-error: #DC0D15;

$primary: $white;
$error: $red-error;

$z-index-bg: 0;
$z-index-content: 1;
$z-index-top: 2;

$xs: 0;
$sm: 960px;
$md: 1200px;
$lg: 1360px;
$xl: 1920px;

$container-max-width--sm: $sm;
$container-max-width--md: $md;
$container-max-width--lg: $lg;
$container-max-width--xl: $xl;

// Переназначаю max-width у v-container
.v-container {
    max-width: 320px;
    padding: 10px 10px;
    min-width: 100% !important;
    display: block;

    @include up($md) {
        max-width: 1200px !important;
        margin: 0 auto;
        padding: 10px 25px;
        min-width: auto !important;
    }
}

