@import 'mixins';

$white: #FFFFFF;
$white-alpha-20: rgba(255, 255, 255, 0.2);
$grey: #cccccc;
$green: #1A3E3E;
$black: #000000;
$red-error: #c94343;

$primary: $white;
$error: $red-error;

$z-index-bg: 0;
$z-index-content: 1;
$z-index-top: 2;

$xs: 0;
$sm: 960px;
$md: 1200px;
$lg: 1360px;
$xl: 1920px;

$container-max-width--sm: $sm;
$container-max-width--md: $md;
$container-max-width--lg: $lg;
$container-max-width--xl: $xl;