@font-face {
    font-family: 'Next-Art';
    font-style: normal;
    src: local('Next-Art'), 
         url('@/../public/fonts/Next-Art/NEXT ART_Regular.otf') format('truetype'), 
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');